.login {
    height: 100vh;
    background: var(--forBack);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authorization {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 370px;
    background: var(--white);
    box-shadow: var(--bs-1);
    padding: 30px;
}

.authorization .checkbox label,
.authorization .checkbox input {
    margin-top: 20px;
    cursor: pointer;
}

.authorization .checkbox label {
    margin-left: 10px;
}

.preloader {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    height: 200px;
}

/*  12312     */

.authorization a{
    text-decoration: none;
    color: var(--blue);
}

.authorization a:hover {
    color: rgb(117, 186, 252);
}

.authorization .text {
    padding: 5px;
    height: 35px;
    font-size: 13px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid var(--grey3);
    border-radius: 4px;
}

.authorization .text.error {
    border: 1px solid red
}

.authorization .text:focus { 
    background: #eaeef5;
    box-shadow: 1px 1px 2px var(--blue), -1px -1px 2px var(--blue);
}

.authorization .text:focus.error { 
    background: #f8e5eb;
    box-shadow: none;
}

.authorization label {
    margin: 2px 0;
    font-weight: 500;
    font-size: 15px;
}

.authorization .routePhrase {
    font-size: 14px;
    text-align: center;
}
