.buttonComponent {
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    background-color: var(--blue);
    border-color: var(--blue);
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    margin: 15px 0 20px 0;
}