/* profile */

.profile {
    justify-content: center;
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 300px .6fr;
    grid-gap: 50px;
    padding: 20px 20px 0;
    overflow-x: hidden;
}


.userAva {
    position: relative;
    width: 300px;
    box-shadow: var(--bs-1);
    background: var(--white);
    border-radius: 6px;
}

.userAva img {
    position: relative;
    top: 0;
    left: 0;
    width: inherit;
    padding: 10px;
    
}

.userAva span {
    display: inline-block;
    width: 90%;
    text-align: center;
    margin: 15px 0 15px 12px;
    padding: 3px;
    background: #d7dadd;
    color: #2a5885;
    border-radius: 6px;
}

.userAva span:hover {
    background: #c3cbd3; 
}

.servicesBtns {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 300px;
    align-items: center;
    background-color: var(--white);
    height: 400px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.25);;
    margin-top: 30px;
    border-radius: 6px;
}

.servicesBtns button {
    width: 175px;
    margin-bottom: 20px;
    height: 35px;
    background-color: var(--blue);
    font-size: 16px;
    font-weight: 500;
    border-color: var(--blue);
    border-radius: 6px;
    cursor: pointer;
    color: var(--white);
}

.pageName {
    font-size: 20px;
}

.pageInfo {
    box-shadow: var(--bs-1);
    padding: 15px;
    margin-bottom: 50px;
    background: var(--white);
    border-radius: 6px;
}

.pageTop {
    padding: 0 0 45px;
    border-bottom: 1px solid #d9dee4;
}

.pageStatus {
    text-align: center;
    float: right;
    color: var(--grey3);
    font-weight: 500;
}

.pageInfoShort {
    padding-top: 10px;
}

.profileInfo {
    line-height: 150%;
}

.infoRow {
    padding-top: 5px;
}

.label {
    float: left;
    width: 165px;
    font-weight: 400;
    font-size: 14px;
    color: #818c99;
}

.showMore {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #2a5885;
    height: 34px;
    line-height: 32px;
    font-size: 14px;
    margin-top: 10px;
}

.showMore:hover {
    background: #eceef0;
}

.showMore a span:nth-child(2) {
    display: none;
}

.thirdColumn {
    box-shadow: 0 7px 25px rgba(0,0,0,0.35);
    max-height: calc(100vh - 200px);
}

.statusStranger {
    color: #445366;
    font-size: 13px;
    margin: 1px 0px -4px;
    padding: 2px 0px 4px;
}

.status {
    cursor: pointer;
    color: #445366;
    font-size: 13px;
    margin: 1px 0px -4px;
    padding: 2px 0px 4px;
}

.status textarea {
    width: 100%;
    overflow: hidden;
}

.status .defaultStatus:hover {
    background: #eceef0;
}

.status .statusModal { 
    height: 50px;
    background: var(--white);
    margin: 5px 0 -10px;
    width: 100%;
}

.status .statusModal form {
    width: 100%;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.status .statusModal textarea {
    padding: 0 5px;
    height: 40px;
    max-height: 50px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    outline: none;  
}

.status .statusModal textarea:focus {
    border-color: var(--blue);
    padding: 0 5px;
}

.status .statusModal button {
    width: 80px;
    margin: 10px 0px 5px 0;
    background-color: var(--blue);
    font-size: 12px;
    font-weight: 300;
    padding: 2px 0px;
    border-color: var(--blue);
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
}