.messages {
    justify-content: center;
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 20px 100px 20px;
    grid-gap: 15px;
}

.firstColumn {
    box-shadow: var(--bs-1);
    background: var(--white);
    border-radius: 6px;
}

.secondColumn {
    box-shadow: var(--bs-1);
    background: var(--white);
    border-radius: 6px;
}

.messages a {
    text-decoration: none;
    color: #000;
}