.wrapper {
    position: relative;
    box-shadow: 0 7px 25px rgba(0,0,0,.25);
    margin-bottom: 50px;
    background: var(--white);
}

.userImg {
    position: absolute;
    left: 10px;
    top: 20px;
}

.wrapperPost {
    margin-left: 56px;
    padding: 10px 10px 10px 0;
}

textarea {
    width: 100%;
    border-radius: 5px;
    resize: none;
    height: 59px;
    padding: 15px;
    border-color: #bfbfbf;
    outline: none;
}

textarea:focus {
    border-color: var(--blue);
    border-width: 2px;
    padding: 14px;
}

textarea::-webkit-scrollbar {
 width: 0%;
}

.postButtons {
    height: 40px;
}

.postSubmit {
    margin: 0 10px 5px 0;
    background-color: var(--blue);
    font-size: 15px;
    font-weight: 500;
    padding: 2px 10px;
    border-color: var(--blue);
    border-radius: 6px;
    color: var(--white);
    float: right;
    cursor: pointer;
}