.dialogItem {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px dashed var(--grey2);
    display: flex;
}

.dialogItem:hover {
    background: rgb(225, 228, 236);
    border-bottom: 1px solid var(--grey2);
}

.messageContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.messageContent .nameDialog {
    font-weight: 500;
}

.messageContent .content {
    width: 100%;
}

.messageContent .message {
    width: 90%;
    overflow: hidden;
    font-size: 14px;
    color: var(--grey3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.messageContent .message span {
    height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.messageContent .content {
    display: flex;
    margin-top: 10px;
}

.innerImg {
    margin-right: 10px;
}

.innerImg div {
    width: 30px;
    height: 30px;
}

.userImg {
    margin-right: 20px;
}

.userImg div{
    height: 50px;
    width: 50px;
}

.time {
    color: var(--grey3);
    margin-right: 15px;
}