@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&displat=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.content-wrapper {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    top: 60px;
    min-height: calc(100vh - 60px);
    transition: .5s;
}

.content-wrapper.active {
    width: calc(100% - 80px);
    left: 80px;
}