.required {
    font-size: 12px;
    color: #bf1650;
}

.required.first {
    top: 45px;
}

.required.second {
    top: 120px;
}

.firebaseError {
    margin-top: 10px;
    border: 1px solid #bf1650;
    text-align: center;
    padding: 5px 0;
    height: 40px;
    background: #f8e5eb;
    color: #bf1650;
    font-weight: 600;
    border-radius: 6px;
}