.card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--bs-1);
    transition: background .2s ;
}

.numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardName {
    color: var(--black2);
    font-size: 1.2em;
    margin-top: 5px;
}

.iconBox {
    width: 40px;
    color: var(--black2);
}

.card:hover {
    background: var(--blue);
}

.card:hover .numbers,
.card:hover .cardName,
.card:hover .iconBox {
    color: var(--white);
}